.testHeader {
  align-self: stretch;
  height: 72px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFF9F1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.30);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 48px;
}

.logo {
  width: 146px;
  height: 72px;
  object-fit: fill;
}

.testTakerInfo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 16px;
  gap: 10px;
}

.testTakerLabel {
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 24px;
}

.timeWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeLabel {
  color: black;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.timeRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.timeIconWrap {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeValue {
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.exitBtn {
  padding: 8px 28px;
  background: black;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exitBtn:hover {
  opacity: 0.8;
}

.exitBtnText {
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
